// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// My colour scheme
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$pink: rgb(255,189,198);
$d-pink: rgb(255,124,177);
$l-orange: rgb(255,191,66);
$l-green: rgb(126, 198, 76);
