/* Specific CSS for the Index page */
.cocktails-layout {
  min-height: calc(100vh - 70px);
  background-color: $l-orange;
}

.cocktails-header {
  width: 100%;
  padding: 30px 0;
  text-align: center;

  h1 {
    letter-spacing: 0;
    font-family: 'BenchNine', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: $white;
    text-shadow: 0 6px 0 $orange;
    margin-bottom: 30px;
  }
}

.cocktails-search-result {

  p, a.search-link {
    letter-spacing: 0;
    font-family: 'BenchNine', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: $orange;
    margin-bottom: 30px;
  }
}
