// Specific CSS for your home-page
.home-layout {
  height: calc(100vh - 70px);
  background-image: url('banner-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

/* Intro text */
.home-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30%;
}

.home-header-content {
  display: block;
  text-align: center;

  h6 {
    font-size: 24px;
    margin: 0;
  }

  #title {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
  }
}

@media only screen and (min-width: 1024px) {
  .home-header {
    justify-content: flex-start!important;
    padding-left: 100px;
  }
}

/* Input */
.home-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-form {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;

  /* This bit draws the box around it */
  border: none;
  padding: 10px 5px;

  width: 80%;
  background-color: white;
  box-shadow: 0 15px 0 rgba(0,0,0,0.1);

  input {
    background-color: transparent;
    padding: 0 5px;

    /* Tell the input to use all the available space */
    flex-grow: 2;

    /* And hide the input's outline, so the form looks like the outline */
    border: none;

    &::placeholder {
      font-size: 16px;
    }
  }

  button {
    /* Just a little styling to make it pretty */
    border: none;
    background: none;
    color: $orange;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
  }
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .home-input {
    position: absolute;
    bottom:70px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .home-input {
    height: 30vh;
  }

  .home-form {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .home-input {
    height: 40vh;
  }
  .home-form {
    width: 40%;
    padding: 10px 20px;

    input {
      padding: 0 10px;
    }

    button {
      font-size: 24px;
    }
  }
}

/* Social Networks links */
.home-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home-links, .phone-home-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-links {
  padding: 15px 30px;
}
