<div class="about-layout">
  <div class="about-title">
    <h1>ABOUT MISS COCKTAIL</h1>
  </div>
  <div class="about-creator">
    <div class="creator-card">
      <div class="creator-avatar"></div>
      <div class="creator-infos">
        <a href="https://github.com/SoundOfSun?tab=repositories" target="_blank" class="gh-user-link">
            <i class="fa fa-github" aria-hidden="true"></i>  SoundOfSun
        </a>
        <p>Junior front-end developer</p>
        <p>
          The design for this website has been inspired by Divan Raj's work. See his work on dribble here: <a href="https://dribbble.com/shots/3873826-Event-website-header" class="dribble-link" target="_blank">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="about-tech">
    <div class="tech-list">
      <i class="devicon-html5-plain"></i>
      <i class="devicon-css3-plain"></i>
      <i class="devicon-bootstrap-plain"></i>
      <i class="devicon-sass-original"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-jquery-plain"></i>
      <i class="devicon-ruby-plain"></i>
      <i class="devicon-rails-plain"></i>
      <i class="devicon-postgresql-plain"></i>
      <i class="devicon-heroku-original"></i>
    </div>
  </div>
</div>
