<div class="home-layout">
  <div class="home-header">
    <div class="home-header-content">
      <h6>Welcome to <span id="title">Miss</span></h6>
      <div class="phone-home-links hidden-md hidden-lg">
        <a href="#" class="sns-btn-phone">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="#" class="sns-btn-phone">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="#" class="sns-btn-phone">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="home-input">
    <div class="home-form">
      <input type="text" placeholder="Search for a cocktail">
      <button>SEARCH</button>
    </div>
  </div>
  <div class="home-footer">
    <div class="home-links hidden-xs hidden-sm">
      <a href="#" class="sns-btn">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="#" class="sns-btn">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="#" class="sns-btn">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
