.btn-light {
  color: rgb(153,153,153);
  border: 1px solid rgb(153,153,153);
  padding: 10px 15px;
  border-radius: 50px;
  opacity: 0.8;
  text-decoration: none;
}
.btn-light:hover {
  opacity: 1;
}
.btn-primary {
  background-color: rgb(26,139,157);
}
.fa.fa-trash {
  font-size: 24px;
  margin-left: 10px;
  color: rgb(26,139,157);
  opacity: 1;
  &:hover {
    opacity: 0.8;
  }
}
